.svg-weather-clear {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-clear-night {
	background-position: 0 -48px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-few-clouds {
	background-position: 0 -96px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-few-clouds-night {
	background-position: 0 -144px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-overcast {
	background-position: 0 -192px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-severe-alert {
	background-position: 0 -240px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-showers {
	background-position: 0 -288px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-showers-scattered {
	background-position: 0 -336px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-snow {
	background-position: 0 -384px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-storm,
.svg-weather-storm\:regular {
	background-position: 0 -432px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-storm:hover,
.svg-weather-storm\:hover {
	background-position: 0 -480px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

