$svg 
	background-repeat no-repeat
	background-image url(svg/sprite.svg)

.svg-weather-clear
	background-position 0 0
	@extend $svg

.svg-weather-clear-dims
	width 68px
	height 68px

.svg-weather-clear-night
	background-position 0 -68px
	@extend $svg

.svg-weather-clear-night-dims
	width 68px
	height 68px

.svg-weather-few-clouds
	background-position 0 -136px
	@extend $svg

.svg-weather-few-clouds-dims
	width 68px
	height 68px

.svg-weather-few-clouds-night
	background-position 0 -204px
	@extend $svg

.svg-weather-few-clouds-night-dims
	width 68px
	height 68px

.svg-weather-overcast
	background-position 0 -272px
	@extend $svg

.svg-weather-overcast-dims
	width 68px
	height 68px

.svg-weather-severe-alert
	background-position 0 -340px
	@extend $svg

.svg-weather-severe-alert-dims
	width 68px
	height 68px

.svg-weather-showers
	background-position 0 -408px
	@extend $svg

.svg-weather-showers-dims
	width 68px
	height 68px

.svg-weather-showers-scattered
	background-position 0 -476px
	@extend $svg

.svg-weather-showers-scattered-dims
	width 68px
	height 68px

.svg-weather-snow
	background-position 0 -544px
	@extend $svg

.svg-weather-snow-dims
	width 68px
	height 68px

.svg-weather-storm,
.svg-weather-storm\\:regular
	background-position 0 -612px
	@extend $svg

.svg-weather-storm-dims
	width 68px
	height 68px

.svg-weather-storm:hover,
.svg-weather-storm\\:hover
	background-position 0 -680px
	@extend $svg

.svg-weather-storm-dims:hover,
.svg-weather-storm\\:hover-dims
	width 64px
	height 69px

