%svg {
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-weather-clear {
	background-position: 0 0;
	@extend %svg;
}

.svg-weather-clear-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-clear-night {
	background-position: 0 -48px;
	@extend %svg;
}

.svg-weather-clear-night-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-few-clouds {
	background-position: 0 -96px;
	@extend %svg;
}

.svg-weather-few-clouds-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-few-clouds-night {
	background-position: 0 -144px;
	@extend %svg;
}

.svg-weather-few-clouds-night-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-overcast {
	background-position: 0 -192px;
	@extend %svg;
}

.svg-weather-overcast-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-severe-alert {
	background-position: 0 -240px;
	@extend %svg;
}

.svg-weather-severe-alert-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-showers {
	background-position: 0 -288px;
	@extend %svg;
}

.svg-weather-showers-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-showers-scattered {
	background-position: 0 -336px;
	@extend %svg;
}

.svg-weather-showers-scattered-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-snow {
	background-position: 0 -384px;
	@extend %svg;
}

.svg-weather-snow-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-storm,
.svg-weather-storm\:regular {
	background-position: 0 -432px;
	@extend %svg;
}

.svg-weather-storm-dims {
	width: 48px;
	height: 48px;
}

.svg-weather-storm:hover,
.svg-weather-storm\:hover {
	background-position: 0 -480px;
	@extend %svg;
}

.svg-weather-storm-dims:hover,
.svg-weather-storm\:hover-dims {
	width: 44px;
	height: 49px;
}

